@charset "UTF-8";
/* スマートフォン用CSS */

.hidden-sp {
	display:none !important;
}
.hidden-pc {
	display: inherit !important;
}
.only-sp {
	display: inherit !important;
}
.only-pc {
	display: none !important;
}

html {
	font-size:2vw;
}

img {
    width:100%;
    max-width: 100%;
}

.inner {
	width:90%;
	margin:0 auto;
	position:relative;
}


.main_visual {
    background: url("../img/img02_pc.png") no-repeat 70% center;
    background-size: cover;
    min-width:inherit;
}
.main_visual .inner {
    min-height: inherit;
    height:90vh;
}

.main_title {
    width:90%;
    top: 57%;
}

.cvarea {
    min-width: inherit;
    padding-bottom: 10%;
}
.cvarea .inner {
    text-align: center;
}

/*.cvarea .cv_btn {
    display: block;
    width:80%;
    margin:0 auto;
}
.cvarea .link_btn {
    display: inline-block;
    margin:1em 0 0;
    font-size: 2rem;
}
*/
.cvarea .cv_btn {
    width:80%;
	font-size: 2rem;
	padding:0.6em 0;
}
.cvarea .link_btn {
	width:80%;
}
.cvarea .link_btn li:nth-of-type(1) {
	width:65%;
	padding-right:0.5em;
}
.cvarea .link_btn li:nth-of-type(2) {
	width:35%;
}
.cvarea .link_btn li a {
	font-size: 1.6rem;
}

.title {
    width:100%;
    padding:1em 0;
    min-width: inherit;
}
.title img {
    width:80%;
}


.section01 {
    min-width: inherit;
}
.section01 .inner {
    padding:15% 0;
}


.section02 .inner {
    padding:0 0 10%;
}
.s2_box {
    padding:10% 0 0;
}
.s2_box img {
    float:none;
    width:100%;
}
.s2_box dl {
    float:none;
    width:100%;
}
.s2_box dt {
    font-size:2.4rem;
    line-height: 1.5;
    padding: 0.7em 0;
}
.s2_box dd {
    font-size:1.6rem;
    line-height: 1.75;
}


.section03 {
    background-position: left 0;
    min-width: inherit;
}
.section03 .inner {
    padding:15% 0;
}
.section03 img {
    width:80%;
    margin:0 auto 10%;
}
.section03 dl {
    width:100%;
}
.section03 dt {
    font-size:3.2rem;
    padding-bottom: 1em;
}
.section03 dd {
    font-size:2rem;
    line-height: 2;
}
.section03 dd p {
    text-align: left;
}
.section03 dd p br {
    display: none;
}
.section03 dd p ~ p {}


.section04 {}
.section04 .desc img {
    padding-bottom:5%;
}
.section04 .desc p {
    line-height: 1.8;
    font-size:2rem;
}
.section04 .desc p ~ p {
    padding-top:0.8em;
}
.section04 .training {
    background: url("../img/bg05_pc.png") no-repeat 0 0;
    background-size: 100%;
    max-width: inherit;
    margin:0 auto;
    min-width: inherit;
}
.section04 .training .inner {
    padding-bottom: 12%;
}
.section04 .training .desc {
    padding:80% 0 0 0;
}
.section04 .training .desc img {
    width:80%;
}
.section04 .training .catch {
    position: absolute;
    top: 27%;
    left: 0;
    width: 45%;
}
.section04 .training dl {
    width:100%;
    margin:12% auto 0;
}
.section04 .training dt {
    padding-bottom: 1em;
}
.section04 .training dt p {
    font-size:1.6rem;
    padding: 0.5em 1em;
}
.section04 .training dd {
    font-size:1.4rem;
    line-height: 2.14;
}
.section04 .bike {
    background-size: 80%;
    max-width: inherit;
    margin:0 auto;
    min-width: inherit;
}
.section04 .bike .inner {
    padding-bottom: 18%;
}
.section04 .bike .desc {
    width: 100%;
    padding:60% 0 0 0;
}
.section04 .bike .desc img {
    width:44%;
}
.section04 .studio {
    background-size: 180%;
    max-width: inherit;
    min-width: inherit;
}
.section04 .studio .inner {
    padding-bottom: 12%;
}
.section04 .studio .desc {
    padding:48% 0 0 0;
}
.section04 .studio .desc img {
    width:62%;
}
.detail_boxes {
    margin-top:8%;
}
.detail_boxes ul {
    float:none;
    width:90%;
    margin:5% auto;
}
.detail_boxes ul:nth-of-type(2) {
    margin:0 auto;
}
.detail_boxes li {
    margin-bottom:16px;
}
.detail_boxes img {
    margin-bottom:16px;
}
.detail_boxes p {
    font-size:1.4rem;
    line-height: 1.71;
    padding-right:20px;
    padding-left:20px;
}
.detail_boxes p ~ p {
    padding-top:0.8em;
}


.section05 .inner {
    padding:10% 0;
}
.section05 .slider {}
.section05 .slider .slick-list {
    padding: 10px 0;
}
.section05 .s5_slide {
    padding:0 20px;
    position: relative;
}
.section05 .s5_slide:before {
    width:15%;
    height:0;
    padding-top:17%;
    left:10px;
    top:-4%;
}
.section05 .s5_slide.step1:before,
.section05 .s5_slide.step2:before,
.section05 .s5_slide.step3:before,
.section05 .s5_slide.step4:before,
.section05 .s5_slide.step5:before {
    background-size: contain;
}

.section05 .s5_slide h3 {
    font-weight: bold;
    background-color: #3B3B3B;
    text-align: center;
    font-size:2.4rem;
    padding:0.3em 0;
}
.section05 .s5_slide p {
    font-size:1.6rem;
    line-height: 1.875;
    padding:1em 2em;
    background-color: #262626;
    min-height: 122px;
}


    
.section06 {
    min-width: inherit;
}
.section06 .inner {
    padding:5% 0 12%;
}
.section06 .faqbox {
    width:100%;
    margin: 1em auto 0;
}
.section06 .faqbox dl {}
.section06 .faqbox dt {
    background-size: 5%;
    font-size: 1.8rem;
    padding:1em 14% 1em 16%;
}
.section06 .faqbox dt.open {
    background-size: 5%;
}
.section06 .faqbox dd {
    font-size: 1.6rem;
    padding:0.8em 5% 0.8em 16%;
}
.section06 .faqbox dt img,
.section06 .faqbox dd img {
    position: absolute;
    top: 50%;
    left: 5%;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    -o-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    width:6%;
}


#footer {
    min-width: inherit;
}
#footer .left_col {
    float:none;
}
#footer .inner {
    padding:8% 0 12%;
}
#footer h4 {
    font-size:2.2rem;
    padding-bottom:1em;
}
#footer li {
    padding:0.2em 0;
}
#footer li span {
    display: none;
}
#footer li:before {
    font-family: "icomoon";
    padding-right: 0.5em;
    font-weight: normal;
    font-size:1.6rem;
    color:#F8BD3F;
}
#footer .right_col {
    float:none;
    width:100%;
    padding:2em 0 0;
}
#footer .right_col iframe {
    width:100%;
    height:300px;
}

#footer .copyright {
    border-top:1px solid #404040;
    text-align: center;
}
#footer .copyright small {
    font-size:1.3rem;
    padding:1em 0;
    display: inline-block;
}





.slick-next {
    right: -20px !important;
}
.slick-prev {
    left: -20px !important;
}



.fixmenu {
	position: fixed;
	width:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.80);
	z-index: 100;
}
.fixmenu .fm1,
.fixmenu .fm2 {
	display: block;
	float:left;
	padding:0.5em;
}
.fixmenu .fm1 {
	width:70%;
	padding-right:0.25em;
}
.fixmenu .fm2 {
	width:30%;
	padding-left:0.25em;
}
.fixmenu .fm1 a,
.fixmenu .fm2 a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding:0.5em 0;
	font-weight: bold;
	font-size:1.8rem;
	position: relative;
}
.fixmenu .fm1 a {
	background-color: #F8BD3F;
	color:#000;
}
.fixmenu .fm2 a {
	background-color: #78000B;
	color:#fff;
}
.fixmenu .fm1 a:after,
.fixmenu .fm2 a:after {
	content: "\e907";
	display: block;
    font-family: "icomoon";
    font-weight: normal;
    font-size:1.6rem;
	position: absolute;
	right:5%;
	top: 50%;
}
.fixmenu .fm1 a:after {
	-webkit-transform: translate(0%, -50%);
	-moz-transform: translate(0%, -50%);
	-ms-transform: translate(0%, -50%);
	-o-transform: translate(0%, -50%);
	transform: translate(0%, -50%);
}
.fixmenu .fm2 a:after {
	-webkit-transform: translate(0%, -50%) rotate(90deg);
	-moz-transform: translate(0%, -50%) rotate(90deg);
	-ms-transform: translate(0%, -50%) rotate(90deg);
	-o-transform: translate(0%, -50%) rotate(90deg);
	transform: translate(0%, -50%) rotate(90deg);
}
