@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tnnrw8');
  src:  url('fonts/icomoon.eot?tnnrw8#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tnnrw8') format('truetype'),
    url('fonts/icomoon.woff?tnnrw8') format('woff'),
    url('fonts/icomoon.svg?tnnrw8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e907";
}
.icon-minus:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\e901";
}
.icon-directions_bike:before {
  content: "\e902";
}
.icon-a:before {
  content: "\e904";
}
.icon-q:before {
  content: "\e905";
}
.icon-travel-walk:before {
  content: "\e903";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock2:before {
  content: "\e94f";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-play3:before {
  content: "\ea1c";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
